form {
   /* Centro el formulario  */
   margin: 0 auto;
   width: 600px;
   padding: 1em;
   
}
.button {
   /* Alinear los botones con los campos de texto */
   padding-left: 90px;
   font-size: larger;
}
input,
textarea {
   /* Así nos asegurmos de que los campos de texto tienen la misma disposición, letra ...*/
   font: 15px sans-serif;

   /* Tamaño uniforme del campo de texto */
   width: 600px;
   height: 1cm;
   box-sizing: border-box;
   border: 1px solid #999;

}
h1{
   font-size: 1cm;
   text-align: center;
   color: #4198D2;
}
.error{
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color:#4198D2;
   align-self: center;
}
.Body{
   display: block;
   align-content:center;
}
.botonesContainer{
display: block;
}