body{
    background-color: #F2F8FF;
    height: 100vh;
    width: 100vw;
}

input{
    text-align: center;
}

.web-container
{
    margin: 0 auto;
    background: #4198D2;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
}


#bigSizeLogo{
    width: auto;
    height: 280px;
}

.logo-container{
    margin: 0 auto;
}

/* Register Form */
.register-form-container input:not(.green-button){
    min-width: 300px;
    max-width: 400px;
}
.register-form-container{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 1000px;
    margin: 0 auto;
}

.register-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* END Register Form */

.item-container{
    margin: 5px 0;
    display: flex;
    padding: 10px 0;
    width: 100%;
    justify-content: center;
}

.sub-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    flex-basis: 50%;
}

.item-container input{
    padding: 10px;
    min-height: 40px;
    margin: 5px 0;
}


.item-container label{
    text-align: center;
}

.form-container
{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 20px;
    min-width: 350px;
    width: 33vw;
    max-width: 450px;
    border-radius: 5px;
}

.form-container input{
    width: 100%;
    height: 57px;
}



.button-container{
    display: flex;
    justify-content: space-between;
}

.left-button, .right-button{
    padding: 0 5vw;
}

.center-button{
    margin: 0 auto;
    display: block;
}



/*Before right button # login Button
/* NAVBAR START*/   /*NAVBAR min resolution 1024px */



.navbar-container{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9eaff;

    position: sticky;
    top: 0;
}


.content-container{
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

body::-webkit-scrollbar{
    display: none;
}


 .nav-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto;
    max-width: 80%;
}


.navBar-item{
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
}


.navBar-item-b{
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #007CFF;
    margin: 10px auto;
    padding: 0 20px;
}

a{
    color: initial;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}



.navBarItemIcon{
    height: auto;
    width: 40px;
}

.menuText{
    margin-left: 13%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:1.3rem; 
    font-family: roboto;
}


.logout-container{
    display: flex;
    align-items: center;
    min-height: 85px;
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
}



 .logout-container:hover{
    text-decoration: none;
}

.logout-container h2{
    color: red;
    text-decoration: none;
}

.logout{
    width: 80%;
    margin: 0 auto;
}


/* NAVBAR END */


/*special buttons*/
.green-button,
.red-button,
.blue-button,
.white-button
{
    padding: 10px 13px;
    font-size: 1rem;
    border-radius: 0.2rem;
    color: #fff;
    text-align: center;
    min-width: 200px;
    display: inline-block;
    border: none;
    cursor:pointer;
    transition: all ease-in-out 0.3s;
}

.green-button
{
    background-color: #28a745;
    
}

.white-button{
    background-color: #ffffff;
}

.red-button
{
    background-color: #dc3545;
}

.blue-button
{
    background-color: #3545dc;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover
{
    text-decoration: none;
    color:#fff;
}

.green-button:hover
{
    background-color: #107020; 
}

.red-button:hover
{
  background-color: #a01020; 
}

.blue-button:hover
{
  background-color: #1020a0; 
}


.error{
    border-radius: 10px;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    color: red;
    align-self: center;
}




/* modals */
@keyframes modal_load
{
    from 
    {
        width: 0%;
        height:0%
    }
    to 
    {
        width: 55%;
        height: 75%
    }
}

#modal 
{
    z-index: 2;
    cursor: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.7);
}
#modalContent 
{
    animation: modal_load both 0.2s linear;
    /* overflow:hidden; */
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: white;
    border-radius:10px;
    padding:5px;
    border:thin solid black;
}

#modalContent #info{
    display: flex;
    justify-content: center;
    align-content: center;
}

#modalContent #info #title{
    display: flex;
    justify-content: center;
    flex:3;
}

#modalContent #info #exit{
    width: 25px;
    height: 25px;
}

#modalContent #info #exit img{
    max-width:100%;
    max-height:100%;
}

#modalContent #info #exit img:hover{
    filter:brightness(150%);
    transform: scale(1.2);
    cursor:pointer;
}

#modalContent #product{
    display: flex;
    justify-content: center;
    height: 540px;
}

#modalContent #product #productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#modalContent #product img{
    max-width: 100%;
    padding: 5em;
}

#modalContent #buttons{
    display: flex;
    padding: 5px;
    justify-content: center;
}

/*Modal END*/


@media only screen and (max-width: 500px) {
    /*LOGIN START */
    #registerLogoContainer{
        display: none;
    }

    .register-form-container{
        width: 100vw;
        padding: 0;
        height: 100vh;
        justify-content:space-between
    }

    .form-container{
        align-self: center;
    }
    /*LOGIN END */

    /*REGISTER START */
    .logo-container{
        margin: 0;
        
    }

    .form-container{
        margin: 0;
    }

    .button-container{
        flex-direction: column;
        align-items: center;
    }

    .left-button{
        margin-bottom: 10px;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }

    .error{
        font-size: 9px;
    }

    .item-container{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .register-form-container input:not(.green-button) {
        width: calc(100% - 40px);
        padding: 5px;
    }

    #userName{
        width: calc(100% - 80px);
    }

    .user-type--labeled{
        display: flex;
        align-items: center;
        gap:10px;
    }

    .user-type--labeled p {
        margin: 0;
    }

    
    /* REGISTER END */


    /*NAVBAR START */
    .navbar-container{
        width: 20%;
    }

    .navbar-container h2{
        display: none;
    }
    
   .navBarItemIcon{
    align-self: center;
    margin: 0 auto;
   }

   .navBar-item, .navBar-item-b, .logout-container{
    padding: 0;
    margin: 0 auto;
    width: auto;
    
   }

   #littleSizeLogo{
       width: 20vw;
   }

   .navBarIcon{
       width: 100%;
   }

   /* NAVBAR END */

   /*REST OF APP START*/

   .content-container{
       padding: 20px;
       box-sizing: border-box;
       width: 80%;
   }
   body{
    overflow-x:hidden;
   }

   #buttons{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap:10px;
   }

   .content-container .propertiesGrid{
    flex-direction: column;
    overflow-y: scroll;
    -webkit-flex-direction: none;
    padding: 0;
    }

  .search{
      flex-wrap: wrap;
  }

  .content-container .search .blue-button{
      height: 50px;
      margin-top: 10px;
      width: 100%;
      
  }

  .content-container .completePropertiesGrid .property, .content-container .propertiesGrid .property{
      width: 90%;
  }

  .navbar-container{
    position: fixed;
    top: 0;
    height: 100vh;
  }

  .content-container{
      margin-left: 20vw;
  }

  .content-container .completePropertiesGrid{
    grid-template-columns: repeat(1, 90% [col-start]);

 }
  
 .property{
     margin: 10px;
 }
    /*REST OF APP END*/
}
