.botonPrincipal {
   /*anchura, estilo y color borde*/
   border: 1px solid #2e518b;
   /* margin-top: 0.5cm; */
   background-color: #4198D2;
   /*botones*/
   /* width: 30cm; */
   width: 90%;
   min-width: 1050px;
   height: 1.5cm;
   /*texto*/
   color: #ffffff;
   font-size: 0.6cm;
   text-decoration: dashed;
   text-transform: uppercase;
   font-family: 'Helvetica', sans-serif;
   text-align: center;
   /* items */
   align-items: center;
   align-self: center;
   align-content: center;
   margin-left: 2%;
   margin-top: 10px;
   vertical-align: text-top;
   /* top:0%; */
   /* position: inherit; */
}

.Body {
   /* display: block; */
   display: inline-block;
   text-align: center;
   vertical-align: top;
   /* align-content:center; */

}